.idea/
misc/*
audio/*
!audio/jaw_test.wav
!audio/whisper_test.wav
__pycache__
models/deterministic/*
!models/deterministic/.gitkeep
models/stochastic/*
!models/stochastic/.gitkeep
config/fakeyou_config.py
config/chattinggpt_config.py