[submodule "Lakul"]
	path = Lakul
	url = https://github.com/LordofBone/Lakul.git
[submodule "ChattingGPT"]
	path = ChattingGPT
	url = https://github.com/LordofBone/ChattingGPT
[submodule "EventHive"]
	path = EventHive
	url = https://github.com/LordofBone/EventHive.git
